<settings>
	<category label="General">
		<setting id="search_num" type="text" label="Search Number" default="50" />
		<setting id="saveSearch" type="bool" label="Save Search" default="false" />
	</category>
	<category label="FShare">
		<setting id="username" type="text" label="User name" />
		<setting id="password" type="text" option="hidden" label="Password" />
		<setting id="freeAccount" type="bool" label="Using free VIP Account (trial)" default="false" />
		<setting id="email" type="text" label="Email to get download link" default="" />
	</category>
</settings>